{% extends "index.jinja2" %}

{% block content %}
<h1>Old words of Wisdom - that I wrote</h1>

<form>
    <div class="form-group">
      <label for="edits">Make Edits Here:</label>
      <textarea class="form-control" rows="5" id="edits"
        placeholder="This is some more stuff I wrote on 32 October 2017" 
    
      ></textarea>
    </div>
  </form>

<div>Some cool developer</div>

<div>An historic date time group that's formatted correctly</div>

<button type="button" class="btn btn-primary">Make Edits</button>
{% endblock %}