{% extends "index.jinja2" %}

{% block content %}

<div id="home">This will contain a list of Entries and Date Created</div>

{% for entry in entries %}

    <div>
        <h2>{{ entry.title }}</h2>
        <p>{{ entry.body }}</p>
        <p>{{ entry.creation_date }}</p>
        <a href="{{ request.route_url('single_page_view', id=entry.id)}}">Details</a>
    </div>

{% endfor %}

{% endblock %}