{% extends "index.jinja2" %}

{% block content %}

<div id="home">This will contain a list of Entries and Date Created</div>

{% for entry in entries %}
  <li class="journal_entries">{{ entry.title }} {{ entry.body }} {{ entry.creation_date }}</li>
{% endfor %}

{% endblock %}