{% extends "index.jinja2" %}

{% block content %}
<div id="new">This will be a text area creating a new entry</div>

 <form method="POST">
    <div class="form-group">
      <label for="title">New Entry</label>
      <input type="text" name="title" class="form-control"  placeholder="Title Goes Here" required>
      <label for="body">New Entry</label>
      <input type="text" name="body" class="form-control"  placeholder="Literally, The Most Amazing Journal Ever in History...probably!" required>
    </div>
    <input type="submit" value="Make Entry">
  </form>
  

{% endblock %}