{% extends "index.jinja2" %}

{% block content %}

<div id="entries">This will show a single Entry</div>

<h1>Something Profound Learning Experience</h1>

<div>I called a bunch of APIs, used a bunch of frameworks, using a popular programming language
to do something that makes cool enough for your company. 
</div>

<div>Please Hire me already. I'm awesome</div>

<div>32 October 2017</div>

{% endblock %}
