<html>
<head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="crossorigin="anonymous"></script>
   

</head>
<body>
    
<div class="container">
  <h1>Revel in the Awesomeness of my Journal</h1>
  <ul class="list-inline">
    <li><a href="/">Home - List of Journal Entries</a></li>
    <li><a href="/detail_view">Single Entries</a></li>
    <li><a href="/create_view">New Entry</a></li>
    <li><a href="/update_view">Edit Existing Entry</a></li>
  </ul>
</div>


<div id="new">This will be a text area creating a new entry</div>

 <form>
    <div class="form-group">
      <label for="usr">New Entry</label>
      <input type="text" class="form-control" id="usr" placeholder="The Most Amazing Journal Ever in History...probably!">
    </div>
  </form>
  <button type="button" class="btn btn-primary">Make Entry</button>
<footer>
  <p>Contact Info Goes here - in the footer</p>
</footer>